img {
    width: 85%;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px black solid;
}

button {
    display: block;
    margin-bottom: 15px;
    height: 50px;
    width: 80px;
    background-color: ivory;
    border: 1px solid black;
}

button:hover {
    height: 55px;
    width: 88px;
}

.title {
    font-size: 40px;
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
}

.slogan {
    font-size: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    font-style: italic;
    margin: 0;
}

.header {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.content {
    border: 2px solid black;
    margin: auto;
    padding: 0 10px;
    width: 27%;
}

.content:hover {
    /* box-shadow: horizontal vertical blur color */
    box-shadow: 3px 3px 6px;
}

.content-section {
    margin-top: 50px;
    display: flex;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.breed {
    font-family: Arial;
    text-align: center;
}

.heading {
    font-size: 40px;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
}